@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #041f2d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7e7e7e; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0fb4ca; 
}

html {
  scroll-behavior: smooth;
}

a {
  user-select: none;
}

#app {
  width: 98.6vw;
  height: 100%;
}

#contact iframe {
  height: 90%;
}

#backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #12d9f3;
  padding: 8px 10px;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#backToTop:hover {
  background-color: #0fb4ca;
}

#logo,
.menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding: 35px 6rem;
  height: 6rem;
  width: 75vw;
  color: #fff;
}

#logo {
  margin-top: 1rem;
}

.menu {
  margin-left: 10rem;
  width: 70%;
}

.section {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 5rem;
}

#header img {
  align-self: flex-start;
  height: 4rem;
}

#header img:hover {
  filter: opacity(75%);
}

#header a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7e7e7e;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

#header a span {
  margin: 0 0.5rem;
}

#header span a:hover {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 2px solid #12d9f3;
}

#lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  background-image: url("https://media3.giphy.com/media/U4FkC2VqpeNRHjTDQ5/giphy.gif?cid=ecf05e479un8bp4ruqxd5s593agkqwtma9krqadgpog54duy&rid=giphy.gif&ct=g");
  background-size: cover;
}

#lead,
#video div,
#portfolio {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

#lead span {
  text-align: center;
}

#lead h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

#lead h2 {
  font-family: "Satisfy";
  font-size: 3rem;
  font-weight: 500;
  margin: 5rem 0 1rem 0;
  color: #12d9f3;
  line-height: 0.5;
}

#subtitle {
  animation-duration: 3s;
}

#services {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section h2 {
  align-self: flex-start;
  justify-self: flex-start;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #0d264e;
}

#block {
  display: flex;
  width: 100vw;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 100%;
  width: 50%;
  flex: 1;
}

.column:first-child {
  margin-left: 10rem;
}

.column details {
  margin-bottom: 2rem;
}

details > summary {
  list-style-type: "▶️ ";
}

details[open] > summary {
  list-style-type: "🔽 ";
}

details li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  list-style-type: none;
}

details li:hover {
  background-color: #12d9f31f;
}

.description li span {
  color: #179cad;
  margin: 0 0.5rem;
  user-select: none;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #6d6d6d;
}

.description {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  color: #7e7e7e;
}

.description ul li {
  display: flex;
  align-items: center;
}

.description ul li span {
  margin: 0 0.5rem;
}

#gallery {
  display: flex;
  width: 100%;
}

#bigImage {
  width: 31rem;
  height: 31rem;
  padding: 0.5rem;
  object-fit: contain;
  border: 2px dotted #041f2d;
}

#smallImages {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 1;
  flex-wrap: wrap;
  margin-left: 2rem;
  /* width: 10vw; */
  height: 35rem;
}

#smallImages img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.miniature {
  margin: 2px;
  padding: 6px;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  border: 2px dotted #041f2d;
}

#bigImage:hover,
.miniature:hover {
  border: 2px solid #12d9f3;
  background-color: #12d9f305;
}

#contact .section {
  margin: 2rem 5rem 5rem;
  height: 150vh;
}

#contactButtons {
  display: flex;
  width: 85vw;
  margin-bottom: 2rem;
  justify-content: space-between;
}

#contactButtons a,
#projects .enabled,
.disabled {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 7.5rem;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#projects .enabled {
  background-color: #0fb4ca;
}

#contactButtons a:hover,
#buttons a:hover {
  opacity: 0.9;
}

#about,
#portfolio {
  background-color: #041f2d;
}

#portfolio {
  height: 75vw;
}

#about .title,
#portfolio .title {
  color: #0fb4ca;
}

#about .title,
#portfolio .title,
#projects .title,
#about .title {
  margin-top: 2rem;
}

#projects .content {
  display: flex;
  align-items: center;
}

#projects .content #c {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

#projects #buttons {
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: space-around;
  align-items: flex-start;
  /* background-color: #041f2d; */
}

#projects #buttons a {
  margin: 1rem 0;
}

#projects h2 span {
  margin-right: 1rem;
}

#about .content {
  display: flex;
  height: 100%;
}

#about .content span {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#about .section img {
  margin-right: 2rem;
  width: 30rem;
  object-fit: contain;
  border: 5px solid #12d9f3;
  border-radius: 10px;
}

#about .section img:hover {
  filter: opacity(75%);
  border: 5px solid #fff;
}

#about h2 {
  display: flex;
  min-width: 7.5rem;
  align-items: center;
  justify-content: space-between;
}

#about h3 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

#about h3:hover {
  color: #ccc;
}

#bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 37.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  word-wrap: break-word;
  user-select: none;
}

#bio li {
  color: #12d9f3;
  list-style-type: none;
  padding: 3px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#bio li::before {
  content: ">";
  color: #fff;
  display: inline-block;
  height: 10px;
  width: 10px;
}

#bio li:hover {
  background-color: #12d9f31f;
}

.disabled {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  background-color: grey;
  user-select: none;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: #04090f;
  color: #aaa;
  font-size: 1rem;
  padding: 2rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

html,
body {
  /* width: 300px; */
  margin: 0;
  padding: 0;
}


@media (max-width: 1100px) {
  body{
    top: 0;
    left: 0
  }
  
  #app,
  #lead {
    width: 100%;
  }
  #logo {
    align-self: center;
    justify-self: center;
  }
  #header {
    width: 80vw;
    flex-direction: column;
  }
  #header a {
    margin-top: 0.5rem;
  }
  #logo {
    display: inline;
    margin-bottom: 1rem;
  }
  .menu {
    display: none;
    border: none;
  }
  #header :hover,
  .menu:hover {
    border: none;
  }
  #lead {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #lead span {
    margin-top: -8rem;
  }
  #lead h1 {
    font-size: 5vw;
  }
  #lead h2 {
    font-size: 2vw;
  }
  #services .content{
    margin-left: 6vw;
  }
  .column:first-child {
    margin-left: 6vw;
  }
  .column {
    width: 75%;
    margin-left: 6vw;
  }
  #block,
  #about span {
    flex-direction: column;
  }
  #video {
    width: 100vw;
  }
  #contact {
    width: 10%;
  }
  #contact .section {
    margin: 3rem;
  }
  #contactButtons {
    display: flex;
    flex-direction: row;
    width: 75vw;
    flex-wrap: wrap;
    align-items: center;
  }
  #contactButtons a {
    margin: 0.25rem 0.1rem;
    width: 8rem;
  }
  #contact iframe {
    margin: 0;
    width: 80vw;
    height: 50vw;
  }
  #portfolio {
    height: 180vw;
  }
  #gallery {
    flex-direction: column;
  }
  #bigImage {
    width: 60vw;
    height: 60vw;
  }
  #smallImages {
    display: flex;
    width: 70vw;
    height: 20vw;
    margin: 0;
  }
  .miniature {
    width: 11vw;
    height: 11vw;
  }
  #projects a {
    width: 80%;
  }
  #projects img {
    display: none;
  }
  #about {
    display: flex;
    width: 100%;
  }
  #about .section span {
    width: 100%;
  }
  #about .section a {
    width: 60%;
  }
  #about .section img {
    margin-right: 1rem;
    width: 50vw;
    height: 50vw;
    align-self: center;
    justify-self: center;
  }
  #bio {
    width: 75vw;
  }
  #bio h3 {
    font-size: 8vw;
    width: 85vw;
    text-align: center;
    margin-bottom: 2rem;
  }
}
